{% extends 'web/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

    <div class="container-fluid text-center mt-5 pt-5 pb-5 mb-5">
        <h1 class="display-4 mb-4">Catalogue</h1>
        <hr class="w-75 mt-4">
        {{ form_start(form, {attr: {class: 'form-inline inline-spaced-form justify-content-center'}}) }}

        {{ form_rest(form) }}

        <input type="submit" class="btn btn-primary" value="Filter"/>
        {{ form_end(form) }}

        <nav class="nav nav-pills nav-justified w-50 mx-auto mt-4">
            <a class="nav-item nav-link {{ "catalogue" | activeHeaderCheck }}" href="{{ path("catalogue") }}">Table</a>
            <a class="nav-item nav-link {{ "catalogueList" | activeHeaderCheck }}" href="{{ path("catalogueList") }}">List</a>
        </nav>

        <hr class="w-75 mb-4">

        <div class="w-75 justify-content-center mx-auto">

            {% if products is empty %}
                <div class="w-100 text-center">
                    <h1 class="text-muted mb-4 mt-5">We didn't find any matches!</h1>
                    <h5 class="text-muted mb-5">Try editing your filters!</h5>
                </div>
            {% else %}
                {% if data == "table" %}
                    <div class="row">
                        {% for product in products %}

                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 my-3 mx-auto">

                                <div class="card w-75">
                                    <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.title }}</h5>
                                        <p class="card-text">{{ product.price }}$</p>
                                        <a href="{{ path("view_item", {id: product.id}) }}" class="btn btn-primary">View
                                            Item</a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                {% else %}

                    {% for product in products %}

                        <div class="media my-5">
                            <img src="{{ product.image }}" class="mr-3 my-1" alt="...">
                            <div class="media-body text-left">
                                <h5 class="mt-0">{{ product.title }}</h5>
                                <p class="text-muted">{{ product.description | slice(0, 100) }}...</p>
                                <div class="row">
                                    <div class="col text-left">
                                        <a href="{{ path("view_item", {id: product.id}) }}">View
                                            Item</a>
                                    </div>
                                    <div class="col text-right">
                                        {{ product.price }}$
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            {% endif %}

        </div>

    </div>

{% endblock %}
